<header>
    <img src="/assets/logo.png" alt="">
    <a href="https://dash.v500-cook.com" class="btn-primary">Dashboard</a>

    <svg class="pointer" (click)="scrollToMain()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56.87" height="72.87" viewBox="0 0 56.87 72.87">
        <defs>
          <filter id="Объединение_1" x="0" y="0" width="56.87" height="56.87" filterUnits="userSpaceOnUse">
            <feOffset input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="5" result="blur"/>
            <feFlood flood-opacity="0.161"/>
            <feComposite operator="in" in2="blur"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="Объединение_2" x="0" y="16" width="56.87" height="56.87" filterUnits="userSpaceOnUse">
            <feOffset input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="5" result="blur-2"/>
            <feFlood flood-opacity="0.161"/>
            <feComposite operator="in" in2="blur-2"/>
            <feComposite in="SourceGraphic"/>
          </filter>
        </defs>
        <g id="Сгруппировать_46" data-name="Сгруппировать 46" transform="translate(-185.565 -829.82)">
          <g transform="matrix(1, 0, 0, 1, 185.57, 829.82)" filter="url(#Объединение_1)">
            <path id="Объединение_1-2" data-name="Объединение 1" d="M17.034,19H1.966a1.966,1.966,0,1,1,0-3.931h13.1V1.966a1.966,1.966,0,1,1,3.931,0V17.034A1.966,1.966,0,0,1,17.034,19Z" transform="translate(28.43 15) rotate(45)" fill="#15c2e9"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, 185.57, 829.82)" filter="url(#Объединение_2)">
            <path id="Объединение_2-2" data-name="Объединение 2" d="M17.034,19H1.966a1.966,1.966,0,1,1,0-3.931h13.1V1.966a1.966,1.966,0,1,1,3.931,0V17.034A1.966,1.966,0,0,1,17.034,19Z" transform="translate(28.43 31) rotate(45)" fill="#15c2e9"/>
          </g>
        </g>
    </svg>
</header>