@import '/src/environments/environment.scss';


// .bckg-block{
//     position: absolute;
//     top: 40%;
//     left: 45%;
//     display: grid;

//     img{
//         width: 100%;
//         max-width: 1700px;
//         justify-self: center;
//     }
//     z-index: -1;
//     width: 100%;
//     // height: 100%;
//     transform: translate(-50%, -50%);
//     // background-size: contain;
// }



section{
    position: relative;
    z-index: 2;
}

section > div.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 18px;
    @media screen and ( max-width: $tab-size ) {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }
}

.content{
    max-width: 1160px;
}
p{
    font-weight: 600;
}


.card{
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: .16);
    padding: 28px;
    row-gap: 5px;
    column-gap: 25px;
    grid-template-columns: min-content 1fr;
    transition: .1s;
    &:hover{
        box-shadow: 0px 0px 30px rgba($color: #000000, $alpha: .3);
    }
    
    .icon-wrapper{
        display: grid;
        place-items: center;
        background: radial-gradient(ellipse at -10px 160px, #1B5EF5 4%, #03D1FF);
        height: 116px;
        width: 116px;
        img{
            width: 60px;
        }
        border-radius: 22px;
        @media screen and ( max-width: $tab-size ) {
            height: 90px;
            width: 90px;
            border-radius: 15px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        @media screen and ( min-width: 601px ) {
            grid-row: 1/3;
        }
    }

    @media screen and ( max-width: $tab-size ) {
        padding: 20px;
    }

    h3{
        @media screen and ( min-width: 601px ) {
            align-self: end;
        }
    }
    p{
        align-self: start;
        @media screen and ( max-width: 600px ) {
            display: none;
        }
    }
}


p span.number{
    font-size: 14px;
}