<section class="bckg-response" id="features">
    <h2>Features</h2>

    <div class="content">


        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/sketchbook.svg" alt=""> </div>
            <h3>AutoChekout tools</h3>
            <p>Chrome extensions and other tools
                for easy checkouts</p>
        </div>


        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/options.svg" alt=""> </div>
            <h3>Fastest monitors</h3>
            <p>
                Monitors for all important shops quickly
                sending messages on Discord
            </p>
        </div>


        
        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/testing.svg" alt=""> </div>
            <h3>Information and guides</h3>
            <p>We provide all the information you need
                about upcoming releases</p>
        </div>
        
        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/gift.svg" alt=""> </div>
            <h3>Groupbuys and giveaways</h3>
            <p>All V<span class="number">500</span> member get a chance to buy
                or win a tool</p>
        </div>
        
        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/talk-show.svg" alt=""> </div>
            <h3><span class="number">24</span>/<span class="number">7</span> support</h3>
            <p>Our support team always ready to
                answer any of members question</p>
        </div>
        
        <div class="card row" data-aos="fade-up">
            <div class="icon-wrapper"> <img src="/assets/img/features/group-chat.svg" alt=""> </div>
            <h3>Active community</h3>
            <p>V<span class="number">500</span> community is a great place for
                users interested in resell</p>
        </div>

    </div>

    <!-- <div class="bckg-response bckg-block">
        <img src="/assets/img/bckg-main/features.svg" alt="">
    </div> -->
</section>