<section data-aos="fade-up" id="faq">

    <h2>FAQ</h2>

    <div class="faq content">
        <div class="card" data-aos="fade-up">
            <div class="front  bckg-response">
                <p>
                    What are the benefits
                    of membership
                    in 
                    <span class="name">V<span class="number">500</span></span>?
                </p>
            </div>

            <div class="back bckg-response">
                <p>All the necessary tools for the profitable resale.</p>
            </div>
        </div>


        <div class="card" data-aos="fade-up">
            
            <div class="front  bckg-response">
                <p>
                    What tools does <span class="name">V<span class="number">500</span></span>
                    provide to members?
                </p>
            </div>

            <div class="back bckg-response">
                <p>Extensions and programs for easy checkout, fast monitors and much more.</p>
            </div>
        </div>


        <div class="card" data-aos="fade-up">
            
            <div class="front  bckg-response">
                <p>How to act for beginners in <span class="name">V<span class="number">500</span></span>?</p>
            </div>

            <div class="back bckg-response">
                <p>For beginners, detailed guides have been prepared and supports are working, ready to answer any questions.</p>
            </div>
        </div>


        <div class="card bckg-response" data-aos="fade-up">
            
            <div class="front  bckg-response">
                <p>How to become a <span class="name">V<span class="number">500</span></span> member?</p>
            </div>

            <div class="back bckg-response">
                <p>Fill out a Google form or wait for the slots restock.</p>
            </div>
        </div>


        <div class="card " data-aos="fade-up">
            
            <div class="front  bckg-response" >
                <p>How can I use <span class="name">V<span class="number">500</span></span> functionality? </p>
            </div>

            <div class="back bckg-response">
                <p>Check out all the manuals on the server and keep an eye out for new releases.</p>
            </div>
        </div>


        <div class="card bckg-response" data-aos="fade-up">
            <div class="front  bckg-response">
                <p>How do I pay for <span class="name">V<span class="number">500</span></span>? </p>
            </div>

            <div class="back bckg-response">
                <p>Payment for subscriptions is made through our dashboard, where you can link a bank card.</p>
            </div>
        </div>
    </div>


</section>