<section id="monitors">


    <h2>Monitors</h2>

    <div class="monitors carousel row" id="carousel">
        <div class="card">
            <img src="/assets/img/monitors/1.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/2.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/3.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/4.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/5.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/6.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/7.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/8.svg" alt="">
        </div>
        <div class="card">
            <img src="/assets/img/monitors/9.svg" alt="">
        </div>
        <!-- <div class="ca/rd"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div> -->
    </div>

</section>